/* portfolio.css */

.portfolio-container {
  width: 100%;
  padding-top: 30px;
}

.portfolio-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.portfolio-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.category-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 60px;
}

.category-buttons button {
  margin: 0 10px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-buttons button.active {
  color: white;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  height: 900px;
  overflow: hidden;
}

.portfolio-item {
  width: calc(25% - 20px);
  margin: 10px;
}

.portfolio-image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .portfolio-container {
    padding-top: 200px;
  }
  .portfolio-item {
    width: calc(33.33% - 20px);
  }
}

@media screen and (max-width: 1024px) {
  .portfolio-container {
    padding-top: 200px;
  }
  .portfolio-item {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .portfolio-container {
    padding-top: 200px;
  }
  .portfolio-item {
    width: calc(100% - 20px);
  }
}
