/* portfolio.css */

.portfolio-container {
  width: 100%;
  padding-top: 30px;
}

.main-portfolio-title {
  font-size: 30px;
  color: #ddd;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.portfolio-title {
  font-family: "Arial", sans-serif;
  color: #ddd;
  font-size: 34px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 20px;
}

.portfolio-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 30px;
}

.category-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 30px;
}

.category-buttons button {
  margin: 0 10px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-buttons button:hover {
  background-color: #888;
  transform: scale(1.1);
}

.category-buttons button.active {
  color: white;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  height: 900px;
  overflow: hidden;
}

.portfolio-item {
  width: calc(25% - 20px);
  margin: 10px;
  transition: all 0.5s ease;
}

.portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-image {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 992px) {
  .portfolio-title {
    font-size: 24px;
  }
  .portfolio-container {
    padding-top: 200px;
  }
  .portfolio-item {
    width: calc(33.33% - 20px);
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .portfolio-title {
    display: none;
  }
  .portfolio-container {
    padding-top: 300px;
  }
  .portfolio-item {
    width: calc(50% - 20px);
  }
  .category-buttons {
    margin-left: 0;
    overflow-x: auto;
  }
}

@media screen and (max-width: 600px) {
  .portfolio-container {
    padding-top: 200px; /* Ubah sesuai kebutuhan Anda */
  }

  .portfolio-title {
    display: none;
  }
  .main-portfolio-title{
    display: none;
  }

  .portfolio-item {
    width: calc(100% - 20px);
  }
  .portfolio-nav {
    justify-content: center;
    text-align: left;
    padding-top: 40px;
  }
  .category-buttons {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    margin-left: 0;
  }
  .category-buttons button {
    padding: 5px 2px;
    font-size: 13px; /* Hapus satu 'px' */
  }
}

.category-buttons::-webkit-scrollbar {
  width: 1px;
  height: 5px;
}

.category-buttons::-webkit-scrollbar-thumb {
  background: #888; /* Adjust scrollbar color */
}

.category-buttons::-webkit-scrollbar-thumb:hover {
  background: #555; /* Adjust scrollbar color on hover */
}
